/*
Colors used:
Color 1 (Dark Blue): rgba(0,7,143,1);
Color 2 (Light Blue): rgba(0,124,187,1);
Color 3 (Black): rgba(0,0,0,1);
Color 4 (Medium Gray): rgba(150,150,150,1);
Color 5 (White): rgba(255,255,255,1);
*/
* {
  box-sizing: border-box;
}

header {
  background-color: rgba(150, 150, 150, 1);
  text-align: center;
  padding: 10px 5px 15px 5px;
  /* Adds 10px top, 5px right, 15px bottom, 5px left */
  margin: 0px;
  border-bottom: 3px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.65);
  position: fixed;
  width: 100%;
}

#logo img {
  max-width: 200px;
}

main {
  padding-top: 180px;
  display: fixed;
}

selector {
  margin: 0 auto;
  /* No spacing to top and bottom and auto spacing to left and right */
}

body {
  background-color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: rgba(0, 0, 0, 1);
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: rgba(0, 7, 143, 1);
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: rgba(0, 7, 143, 0.5);
}

a:hover {
  color: rgba(0, 124, 187, 1);
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: rgba(0, 124, 187, 1);
}

a:hover,
a:focus {
  color: rgba(0, 124, 187, 1);
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: rgba(0, 124, 187, 0.5);
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 124, 187, 1);
  /* width of the border, type, color */
  transition: .2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: rgba(0, 124, 187, 1);
  text-transform: uppercase;
  border: 2px solid rgba(0, 124, 187, 0.5);
}

.button.contact:hover {
  background-color: rgba(0, 124, 187, 0.5);
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#work h2 {
  text-align: center;
}

#contact p {
  text-align: center;
}

#mystory h2 {
  text-align: center;
}

#aboutme h1 {
  text-align: center;
}

#contact h2 {
  text-align: center;
}

/* Centers text */
}

.center {
  text-align: center;
}

.logo {
  max-width: 100px;
}

.container {
  max-width: 1200px;
}

/* Navigation Bar */
nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(0, 124, 187, 1);
}

#logo {
  text-align: center;
}

/* Hero */
#hero {
  background-color: rgba(150, 150, 150, 1);
}

#hero {
  background-color: rgba(150, 150, 150, 1);
  padding: 50px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

/* Social Media Icons */
.social a {
  text-align: center;
}

.social a {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px;
  margin: 0 5px;
}

.social svg {
  width: 50px;
  height: 50px;
}

/* Screen Breakpoints */
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  #logo {
    text-align: unset;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* Media Query */
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    border: 1px solid red;
    padding: 15px;
  }

  .menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

  .main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 6s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 10s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 14s cloud-move-reverse infinite alternate linear;
}
